	</div><!-- .wrapper -->
		<footer class="footer">
			<div class="container container-inner">
				<div class="footer__copyright">&copy; {{ now.Format "2006" }} {{ .Site.Title }}. <span class="footer__copyright-credits">{{ T "footer_credits" | safeHTML }}</span></div>
			</div>
		</footer>
	</div><!-- .container-outer -->

<script>
	var navigation = responsiveNav(".menu", {
		navClass: "menu--collapse",
	});
</script>
<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700">
<script type="text/javascript" src="{{ "js/scripts.js" | relURL }}"></script>
<link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
		(adsbygoogle = window.adsbygoogle || []).push({
			 google_ad_client: "ca-pub-5005266309965277",
			 enable_page_level_ads: true
		});
</script>
{{- partial "mathjax.html" . -}}
</body>
</html>