<!-- begin SEO -->
<title>{{ .Title }}</title>
<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{else}}{{ .Params.Description }}{{end}}">
<meta property="og:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{else}}{{ .Params.Description }}{{end}}">
<meta name="author" content="{{ $.Site.Author.name }}">
<meta property="og:locale" content="{{ if $.Site.languageCode }}{{ $.Site.languageCode }}{{else}}{{ "en" }}{{end}}">
<meta property="og:site_name" content="{{ .Title }}">
<meta property="og:title" content="{{ if .IsHome }}{{ .Title }}{{else}}{{ $.Site.Pages.Title }}{{end}}">
<link rel="canonical" href="{{ $.Page.URL }}">
<meta property="og:url" content="{{ $.Page.URL }}">
<meta name="twitter:site" content="@{{ $.Site.Params.social_twitter }}">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{else}}{{ .Params.Description }}{{end}}">
<meta name="twitter:url" content="{{ $.Page.URL }}">
{{ if .IsHome }}
  {% if page.header.image %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{% if page.header.image contains "://" %}{{ page.header.image }}{% else %}{{ page.header.image | absolute_url }}{% endif %}">
  {% else %}
    <meta name="twitter:card" content="summary">
    {% if page.header.teaser %}
      <meta name="twitter:image" content="{% if page.header.teaser contains "://" %}{{ page.header.teaser }}{% else %}{{ page.header.teaser | absolute_url }}{% endif %}">
    {% elsif site.og_image %}
      <meta name="twitter:image" content="{{ site.og_image | absolute_url }}">
    {% endif %}
  {% endif %}
  {% if seo_author_twitter %}
    <meta name="twitter:creator" content="@{{ seo_author_twitter }}">
  {% endif %}
{% endif %}
{% if site.facebook %}
  {% if site.facebook.publisher %}
    <meta property="article:publisher" content="{{ site.facebook.publisher }}">
  {% endif %}
  {% if site.facebook.app_id %}
    <meta property="fb:app_id" content="{{ site.facebook.app_id }}">
  {% endif %}
{% endif %}
{% if page.header.image %}
  <meta property="og:image" content="{% if page.header.image contains "://" %}{{ page.header.image }}{% else %}{{ page.header.image | absolute_url }}{% endif %}">
{% elsif page.header.overlay_image %}
  <meta property="og:image" content="{% if page.header.overlay_image contains "://" %}{{ page.header.overlay_image }}{% else %}{{ page.header.overlay_image | absolute_url }}{% endif %}">
{% elsif page.header.teaser %}
  <meta property="og:image" content="{% if page.header.teaser contains "://" %}{{ page.header.teaser }}{% else %}{{ page.header.teaser | absolute_url }}{% endif %}">
{% elsif site.og_image %}
  <meta property="og:image" content="{% if site.og_image contains "://" %}{{ site.og_image }}{% else %}{{ site.og_image | absolute_url }}{% endif %}">
{% endif %}
{{ if $.Param.date }}
<meta property="og:type" content="article">
<meta property="article:published_time" content="{{ $.Param.date }}">
{{ end }}
{{ if $.Param.prev }}<link rel="prev" href="{{ $.Param.prev }}">{{ end }}
{{ if $.Param.next }}<link rel="next" href="{{ $.Param.next }}">{{ end }}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "{{ .Site.baseurl }}",
    "logo": "{{ .Site.Author.avatar }}"
  }
</script>
<script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "Person",
    "name" : "{{ .Site.Author.name }}",
    "url" : "{{ .Site.baseurl }}",
    "sameAs" : null
  }
</script>
{{ if .Site.Params.googleSiteVerification }}<meta name="google-site-verification" content="{{ .Site.Params.googleSiteVerification }}" />{{end}}
{{ if .Site.Params.bingSiteVerification }}<meta name="msvalidate.01" content="{{ .Site.Params.bingSiteVerification }}">{{end}}
{{ if .Site.Params.yandexSiteVerification }}<meta name="yandex-verification" content="{{ .Site.Params.yandexSiteVerification }}">{{end}}
<!-- end SEO -->
