<!-- begin SEO -->
{{ $title := (print .Title " - " .Site.Title) }}
{{ $url := (print .Site.BaseURL .Page.URL) }}
<title>{{ if .IsHome }}{{ .Title }}{{ else }}{{ $title }}{{ end }}</title>
<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Params.Description }}{{ end }}">
<meta property="og:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Params.Description }}{{ end }}">
<meta name="author" content="{{ $.Site.Author.name }}">
<link rel="canonical" href="{{ .Site.BaseURL }}{{ .Page.URL }}">
{{ if .IsTranslated }}
  <link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}"/>      
  {{ range .Translations }}
    <link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}"/>    
  {{ end}}  
  {{ if eq .Lang "en" }}
  <link rel="alternate" hreflang="x-default" href="{{ .Permalink }}"/>
  {{ end }}
  {{ if eq .Lang "ja" }}
  <link rel="alternate" hreflang="x-default" href="{{ .Site.BaseURL }}/en{{ .Page.URL }}"/>
  {{ end }}
{{ else }}
  <link rel="alternate" hreflang="x-default" href="{{ .Permalink }}" />
{{ end }}
<meta name="twitter:site" content="@{{ $.Site.Author.twitter }}">
<meta name="twitter:title" content="{{ if .IsHome }}{{ .Title }}{{ else }}{{ $title }}{{ end }}">
<meta name="twitter:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Params.Description }}{{ end }}">
<meta name="twitter:url" content="{{ $url }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:creator" content="@{{ $.Site.Author.twitter }}">
<meta property="og:locale" content="{{ .Site.LanguageCode }}">
<meta property="og:site_name" content="{{ $title }}">
<meta property="og:title" content="{{ if .IsHome }}{{ .Title }}{{ else }}{{ $title }}{{ end }}">
<meta property="og:url" content="{{ $url }}">
{{- if isset $.Params "twitter_card_image" }}
  {{ $twitter_card_image := safeURL $.Params.twitter_card_image }}
<meta property="og:image" content="{{ $twitter_card_image }}">
<meta name="twitter:image" content="{{ $twitter_card_image }}">
{{- else }}
  {{ $twitter_card_image := (print .Site.BaseURL .Site.Author.avatar )}}
<meta property="og:image" content="{{ $twitter_card_image }}">
<meta name="twitter:image" content="{{ $twitter_card_image }}">
{{- end }}
{{- if .Page.Date }}
<meta property="og:type" content="article">
<meta property="article:published_time" content="{{ .Page.Date }}">
{{- end }}
{{- if .Page.Prev }}<link rel="prev" href="{{ .Page.Prev }}">{{- end }}
{{- if .Page.Next }}<link rel="next" href="{{ .Page.Next }}">{{- end }}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "{{ .Site.BaseURL }}",
    "logo": "{{ .Site.BaseURL }}{{ .Site.Author.avatar }}"
  }
</script>
<script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "Person",
    "name" : "{{ .Site.Author.name }}",
    "url" : "{{ .Site.BaseURL }}",
    "sameAs" : null
  }
</script>
{{- if .Site.Params.googleSiteVerification }}<meta name="google-site-verification" content="{{ .Site.Params.googleSiteVerification }}" />{{- end }}
{{- if .Site.Params.bingSiteVerification }}<meta name="msvalidate.01" content="{{ .Site.Params.bingSiteVerification }}">{{- end }}
{{- if .Site.Params.yandexSiteVerification }}<meta name="yandex-verification" content="{{ .Site.Params.yandexSiteVerification }}">{{- end }}
<!-- end SEO -->
