{{ if .IsTranslated }}
<nav class="menu">
	<ul class="menu__list">
		<li class="menu__item menu__link">Language</li>
		{{ range .Site.Languages }}
		{{ if eq . $.Site.Language }}
		<li class="menu__item menu__item--active"><a class="menu__link" href="#">{{ .LanguageName }}</a></li>
		{{ else }}
			{{ range $.Translations }}
			<li class="menu__item"><a class="menu__link" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
			{{- end }}
		{{- end }}
		{{- end }}
	</ul>
</nav>
{{ else -}}
<div class="divider"></div>
{{- end }}