{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
<h3>{{ T "related_title" }}</h3>
{{ range . }}
<div class="list__item">
{{- if .Params.thumbnail }}
<figure class="list__thumbnail">
    <a href="{{ .Permalink }}">
        <img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}" />
    </a>
</figure>
{{- end }}
<div class="list__content clearfix">
    <header class="list__header">
        <h4 class="list__title post__title ">
            <a href="{{ .RelPermalink }}" rel="bookmark">{{ .Title }}</a>
        </h4>
        {{- if or (not .Date.IsZero) .Params.categories }}<div class="list__meta meta">{{ partial "post_meta.html" . }}</div>{{- end }}
    </header>
</div>
</div>
{{ end }}
{{ end }}
